sudo: false
dist: xenial
language: python

env:
  - SH=bash

python:
  - "3.6"
  - "3.7"

cache:
  pip: true

install:
  - "pip install -r requirements.txt"

script:
  - make test

before_install:
  pip install codecov

after_success:
  codecov
