scikit-learn
scipy
numpy
graphviz

# Optional for core functionality
relational-datasets

# Style
black
pycodestyle
pylint

# Testing
coverage
codecov
pytest
pytest-cov

# Documentation
sphinx
sphinx_rtd_theme
sphinx_gallery
numpydoc
matplotlib
